body{
	font-family: '游ゴシック', 'Hiragino Kaku Gothic ProN', 'メイリオ', meiryo, 'Helvetica Neue', sans-serif;
	background: #DDD;
	text-align: center;
}

#container{
	width: 30rem;
	margin: auto;
}

#buttons{
	margin-bottom: 2rem;
}

ul{
	width: 12rem;
	overflow:hidden;
	margin: auto;
	margin-bottom: 3rem;
}

li {
	text-align: left;
	list-style-type: none;
}

@media only screen and (max-width: 640px) {

    #container{
      width: 90%;
    }

		ul{
			width: auto;
		}
}
